.ad-carousel-container {
    position: relative;
    width: 100%;
    /* display: flex;
    align-items: center; */
}

.ad-carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.ad-item {
    min-width: 100%;
    flex-shrink: 0;
    position: relative;
}

.ad-item img {
    width: 100%;
    height: 500px;
    display: block;
}


/* Scroll buttons */

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(10, 45, 130, 0.8);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    font-size: 25px;
    z-index: 10;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-btn.left {
    left: 10px;
}

.scroll-btn.right {
    right: 10px;
}

.scroll-btn:hover {
    background-color: rgba(10, 45, 130, 1);
}


/* Pagination Dots */

.carousel-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-dots .dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-dots .dot.active {
    background-color: #ffd966;
    /* Light yellow accent */
}


/* @media (max-width: 768px) {
    .scroll-btn {
        display: none;
    }
} */