.admin-products {
    padding: 30px;
}

.admin-products h2 {
    margin-bottom: 20px;
    color: #0a2d82;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th,
.admin-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.admin-table th {
    background-color: #0a2d82;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.deactivate-btn {
    background: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.activate-btn {
    background: #2ecc71;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}