* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: lightbhlue;
    color: white;
}

.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}